/* body::before {
    content: "Ψ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100vh;
    color: rgba(255, 255, 255, 0.1);
    white-space: nowrap;
    z-index: -1;
} */

.background-text {
    position: absolute;
    width: auto;
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    z-index: 100;
}

.dice {
    position: absolute;
    background-color: hsla(0, 0%, 50%, 0.10);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #333;
    transition: transform 0.1s ease;
    z-index: 200;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 2%, 28%, 0.15);
    overflow: hidden;
    box-sizing: border-box;
    position: fixed; /* Prevents mobile bounce effects */
    touch-action: none; /* Disables pinch zoom and other touch actions */
}

* {
    box-sizing: inherit;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
}

html {
    overflow: hidden;
    height: 100%;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size: min(5vw, 36px);
}

#game-container, .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) { 
    body { 
        background-color: hsla(0, 100%, 1%, 0.9); 
    }
    body::before {
        color: rgba(255, 255, 255, 0.2);
    }
    .background-text {
        color: hsl(40, 100%, 50%);
    }
    .dice {
        color: hsla(0, 0%, 100%, 0.8);
    }
}
